.hero {
  height: 15rem;
  background-image: url("/public/images/cherry-blossom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 18%;
  position: relative;
}

.heroText {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: clamp(3rem, 10vw, 6rem);
  letter-spacing: clamp(0rem, 10vw, 0.4rem);
  margin: 0;
  line-height: 0.8;
  color: var(--base);
  background-color: var(--surface0);
  padding-right: 1rem;
  padding-left: 1rem;
  height: clamp(3rem, 10vw, 6rem);
  transform: translateY(-50%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.heroText > span:nth-child(1) {
  color: var(--pink);
}
.heroText > span:nth-child(2) {
  color: var(--red);
}
.heroText > span:nth-child(3) {
  color: var(--peach);
}
.heroText > span:nth-child(4) {
  color: var(--green);
}
.heroText > span:nth-child(5) {
  color: var(--sky);
}

.infoSection {
  margin: 2rem;
}

.infoSection > section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.avatar {
  width: 20rem;
  max-width: 100%;
  height: 100%;
  flex-basis: 20rem;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  object-fit: cover;
  object-position: center;
}

.content {
  flex: 1 0 60%;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.socials > a > * {
  height: 2rem;
  width: 2rem;
}
