.container {
  background-color: var(--crust);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--red);

  height: 100%;
}

.logo > * {
  height: 100%;
  width: 2rem;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.links > li {
  color: var(--blue);
  font-weight: bold;
  cursor: pointer;
}

.links > li:hover {
  color: var(--rosewater);
}
