.header {
  background-color: var(--crust);
}

.container {
  max-width: var(--siteWidth);
  margin: auto;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: var(--red);

  height: 100%;
}

.logo > * {
  height: 100%;
  width: 2rem;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.links > li {
  color: var(--blue);
  font-weight: bold;
  cursor: pointer;
}

.links > li:hover {
  color: var(--rosewater);
}
