.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 30px;
  margin-bottom: -5px;
}

.logo h1 {
  overflow: hidden;
  margin-left: 5px;
  width: 0%;
  font-size: 135%;
  line-height: 1.3;
  letter-spacing: 0.35em;
  white-space: nowrap;
  animation: typing 1.5s steps(11, end);
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.logo img:last-child {
  opacity: 1;
  animation: blink-cursor 1s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking cursor animation */
@keyframes blink-cursor {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
